@import 'src/styles/vars';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;

  .content-wrapper {
    display: flex;
    flex-direction: column;
    max-width: $content-width;
    padding-bottom: 80px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;

    img {
      display: none;
      width: 0;
      height: 0;
    }
  }
}
