<main class="content-wrapper" fadeIn>
  <h6>About</h6>
  <p>
    Created as a fun way to discover interesting color combinations. Palettes are hand-selected from the Twitter bot
    <a href="https://twitter.com/colorschemez" target="_blank">@colorschemez</a>. The feed randomly generates color combinations as well as their descriptions, with each color being matched with an adjective from a list of over 20,000 words.
  </p>
  <p>Created by <a href="https://adamfuhrer.com/" target="_blank">Adam Fuhrer</a>.</p>
  <img src="https://www.colors.lol/assets/images/color-palettes-square.jpg" alt="Overview of all the color palettes on colors.lol">
</main>
