@import '../../styles/vars';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;

  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: $content-width;
    padding-bottom: 80px;
    width: 100%;

    .palette-wrapper {
      width: 100%;

      app-color-palette {
        margin-top: 80px;
      }
    }

    button.view-all {
      height: 50px;
      padding-left: 20px;
      padding-right: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $pink;
      margin-top: 50px;
      font-size: 1.8rem;
      transition: $transition-normal;

      &:hover, &:focus {
        color: darken($pink, 10%);

        svg {
          transform: translateX(-4px);
        }
      }

      svg {
        width: 16px;
        height: 16px;
        fill: #BBBBBB;
        margin-right: 8px;
        transition: $transition-normal;
        transform: translateX(0);
      }
    }
  }

  @media screen and (max-width: $breakpoint-medium) {
    .content-wrapper {
      app-color-palette {
        margin-top: 60px;
      }
    }
  }
}
