@import 'src/styles/vars';

:host {
  display: flex;
  justify-content: center;

  nav {
    display: flex;
    flex-direction: row;
    max-width: $content-width;
    width: 100%;
    padding: 30px 20px;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      font-weight: $light;
      font-size: 1.6rem;
      color: #333333;
      transition: $transition-normal;

      + a {
        margin-left: 20px;
      }

      &:hover, &:focus {
         color: $pink;
      }

      span:focus {
        outline: none;
      }
    }

    a.icon {
      width: 20px;
      height: 30px;

      svg {
        transition: $transition-normal;
        width: 16px;
        height: 16px;
        fill: $grey;
      }

      &:hover, &:focus {
        svg {
          fill: $pink;
        }
      }
    }
  }
}
