@import 'src/styles/vars';

:host {
  display: flex;
  justify-content: center;

  ul {
    display: flex;
    flex-direction: row;
    max-width: $content-width;
    width: 100%;
    padding: 30px 20px;

    li {
      display: flex;
      align-items: center;
      height: 30px;
      font-weight: $light;
      font-size: 1.6rem;
      color: $grey;

      + li {
        margin-left: 20px;
      }

      a {
        color: $oil;
        transition: $transition-normal;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover, &:focus {
           color: $pink;
        }
      }

      a.icon {
        width: 20px;
        height: 20px;

        &:hover, &:focus {
          svg {
            fill: $pink;
          }
        }

        svg {
          transition: $transition-normal;
          width: 16px;
          height: 16px;
          fill: $grey;
        }
      }
    }
  }
}
