<div class="content-wrapper" fadeIn>
  <ng-container *ngFor="let palette of palettes; let i = index">
    <app-color-palette *ngIf="paletteParam === null || paletteParam === getPaletteParamId(palette)"
                       [isShowingLinkButton]="paletteParam !== getPaletteParamId(palette)"
                       [colors]="palette"
                       [isPaletteDirectionVertical]="(i + 1) % 4 === 0 || i % 4 === 0">
    </app-color-palette>
  </ng-container>
  <h5 *ngIf="paletteParam && !isPaletteFound()" class="empty">
    <img src="../../../assets/images/not-found.svg"
         title="Palette cannot be found"
         alt="Palette cannot be found"
         class="illustration">
    Palette cannot be found.
  </h5>
  <a *ngIf="paletteParam && paletteParam !== 'about'"
     class="view-all"
     routerLink="/">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="Layer_1" x="0" y="0" viewBox="0 0 492 492" xml:space="preserve" enable-background="new 0 0 492 492">
      <path d="M464.34 207.42l0.77 0.17H135.89l103.5-103.72c5.07-5.06 7.85-11.92 7.85-19.12 0-7.2-2.78-14.01-7.85-19.09L223.28 49.54c-5.06-5.06-11.81-7.86-19.01-7.86 -7.2 0-13.95 2.78-19.02 7.84L7.84 226.91C2.76 232-0.02 238.77 0 245.97c-0.02 7.24 2.76 14.02 7.84 19.1l177.41 177.41c5.06 5.06 11.81 7.84 19.02 7.84 7.2 0 13.94-2.79 19.01-7.84l16.1-16.11c5.07-5.06 7.85-11.81 7.85-19.01 0-7.2-2.78-13.59-7.85-18.65L134.72 284.41h329.99c14.83 0 27.29-12.78 27.29-27.6v-22.79C492 219.2 479.17 207.42 464.34 207.42z"/>
    </svg>
    <span>VIEW ALL PALETTES</span>
  </a>
</div>
