@import 'src/styles/vars';

:host {
  display: block;
  position: relative;
  width: 100%;

  .link {
    position: absolute;
    top: 6px;
    right: -46px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;

    svg {
      fill: #BBBBBB;
      width: 24px;
      height: 24px;
      transition: $transition-normal;
    }

    &:hover, &:focus {
      transition: $transition-normal;

      svg {
        fill: $oil;
      }
    }
  }

  .palette {
    display: flex;
    border-radius: 10px;
    box-shadow: $box-shadow-strong;
    height: 280px;
    overflow: hidden;

    .color {
      display: flex;
    }
  }

  .description {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

    .color-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 40px;

      .left {
        display: flex;
        align-items: center;
        margin-right: 10px;

        .swatch {
          width: 20px;
          min-width: 20px;
          height: 20px;
          border-radius: 5px;
          margin-right: 10px;
          border: 1px solid rgba(0,0,0,.2);
          box-shadow: inset -1px -1px 0 rgba(0,0,0,.2), inset 1px 1px 0 0 rgba(255,255,255,.3), 0 2px 4px rgba(0,0,0,.2);
        }
      }
    }
  }

  @media screen and (max-width: $breakpoint-medium) {
    .link {
      left: unset;
      right: 4px;
      width: 30px;
      height: 30px;

      a {
        width: 30px;
        height: 30px;
      }

      svg {
        fill: rgba(255, 255, 255, 0.8);
        width: 16px;
        height: 16px;
      }

      &:hover, &:focus {
        svg {
          fill: rgba(255, 255, 255, 0.96);
        }
      }
    }

    .palette {
      height: 160px;
      border-radius: 0;
    }

    .description {
      .color-wrapper {
        min-height: 30px;

        h3.name {
          font-size: 1.6rem;
        }

        h4.hex {
          font-size: 1.6rem;
        }
      }
    }
  }
}
